/* CSS Styles */
html {
    background-color: #efefef;
}

body {
    font: 1.2em / 1.5 system-ui;
}

.sectionHead {
    font-size: larger;
}

.heading {
    padding: 10%;
    background-color: darkred;
    color: white;
    text-align: center;
    font: 4rem;
}

.main {
    padding: 2%;
    background-color: #efefef;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(128, 0, 0);
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
}

footer {
    background-color: darkred;
    color: white;
    margin: 0%;
}

ul {
    background-color: white;
    border-color: rgb(128, 0, 0);
    border-width: 2px;
    border-radius: 20px;
    border-style: dashed;
    padding: 30px;
}

h1 {
    border-bottom-width: 5px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(255, 255, 255);
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

h2 {
    font-style: italic;
    font-size: 1.5rem;
}

a {
    color: red;
}

a:hover, a:focus {
    color: darkred;
    text-decoration: none;
}

.footerLink:hover, .footerLink:focus, .footerLink {
    color: white;
}

.blink{
  width:auto;
  height:400px;
  border:3px dashed darkred;
  animation: blink 0.5s infinite;
}
@keyframes blink{
  0% {
    background: red;
  }
  50% {
    background: orange;
  }
  100% {
    background: red;
  }
}
@-webkit-keyframes blink{
  0% {
    background: red;
  }
  50% {
    background: orange;
  }
  100% {
    background: red;
  }
}

.angryNews {
    font-style: initial;
    font-style: bold;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: none;
}

.finePrint {
    font-size: medium;
    font-style: initial;
    font-style: italic;
}

@media screen and (max-width: 500px) {
  /*runs on smaller screens*/

  h2 {
    font-style: bold;
    font-size: 2rem;
  }

  body {
    font: 2.5rem;
  }

  .main {
    padding: 20px;
    width: 90%;
    height: 90%;
    background-color: #efefef;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(128, 0, 0);
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
    }

  ul {
    background-color: white;
    border-color: rgb(128, 0, 0);
    border-width: 2px;
    border-radius: 20px;
    border-style: dashed;
    padding: 30px;
  }

  h1 {
    font: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
  }

  .heading {
    padding: 5%;
    background-color: darkred;
    color: white;
    text-align: center;
    font-style: bold;
}

  .finePrint {
    font-size:medium;
    font-style: initial;
    font-style: italic;
  }

  .angryNews {
    font-style: initial;
    font-style: bold;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: none;
    font: 2.5rem;
  }

  .blink{
    width:auto;
    height:400px;
    border:3px dashed darkred;
    animation: blink 0.5s infinite;
  }

}