/* CSS Styles */

html {
     background-color: #efefef;
}

body {
    font: 1.2em / 1.5 system-ui;
    padding: 20px;
    width: 75%;
    background-color: #efefef;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(128, 0, 0);
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;

}

ul {
    background-color: white;
    border-color: rgb(128, 0, 0);
    border-width: 2px;
    border-radius: 20px;
    border-style: dashed;
    padding: 30px;
}

h1 {
    color: darkslategray;
    border-bottom-width: 5px;
    border-bottom-style: dotted;
    border-bottom-color: rgb(147, 18, 18);
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

h2 {
    font-style: italic;
    font-size: 1.5rem;
}

a:any-link {
    color: red;
}

a:hover, a:focus {
    color: darkred;
    text-decoration: none;
}

.myLinks {
    font-weight: normal;
}

.blink{
  width:400px;
  height:400px;
  border:3px dashed darkred;
  animation: blink 0.5s infinite;
}
@keyframes blink{
  0% {
    background: red;
  }
  50% {
    background: orange;
  }
  100% {
    background: red;
  }
}
@-webkit-keyframes blink{
  0% {
    background: red;
  }
  50% {
    background: orange;
  }
  100% {
    background: red;
  }
}

.angryNews {
    font-style: initial;
    font-style: bold;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: none;
}